* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header etiketi */
header {
    width: 75%;
    padding: 45px 0px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #f78501;
}

header > img {
    background-color: #ffffff;
}

h1 {
    margin-top: 10px;
}

#todo-form {
    width: 90%;
    margin-top: 10px;
}

#todo-form > input[type="text"] {
    width: 75%;
    height: 40px;
    padding: 5px 10px;
    font-size: 20px;
}

#todo-form > input[type="submit"] {
    width: 25%;
    height: 40px;
    padding: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
}

#todo-form > input[type="submit"]:hover {
    cursor: pointer;
    background-color: burlywood;
}

#todo-form > input {
    border: none;
}

/* main etiketi */
h2 {
    margin: 15px 0px;
    text-align: center;
    color: #f78501;
}

ul {
    font-size: 20px;
    list-style-type: none;
}

ul > li {
    width: 100%;
    height: 40px;
    padding: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul > li:hover {
    cursor: pointer;
}

ul > li > i {
    font-size: 25px;
}

ul > li > i:hover {
    cursor: pointer;
}

ul > li:nth-child(odd) {
    background-color: #f9f9f9;
}

ul > li:nth-child(even) {
    background-color: #eeeeee;
}

#container {
    width: 75%;
    margin: 25px auto;
}

#b-list-group-items > li > span {
    text-decoration: line-through;
}

/* Responsive tasarım */
@media (max-width: 708px) {
    header, #container {
        width: 100%;
    }
}

/* Mesaj etiketleri için gerekli olan css biçimlendirmeleri */
.green {
    background-color: #d4edda;
}

.red {
    background-color: #f8d7da;
}

.info {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    padding: 0px 8px;
    color: black;
    border-radius: 8px;
    text-align: center;
}